<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>展示區</h1>
    <hr />
    <ul>
        {% for result in results %}
        <li>資料類型: {{ result.Datatype }}, 相機種類: {{ result.Camera_type }}, 檔名: {{ result.File_name }}</li>
        {% endfor %}
    </ul>
</body>

</html>